Gabriel K. Gegenhuber <ggegenhuber@sba-research.org> <16528957+GGegenhuber@users.noreply.github.com>
Gabriel K. Gegenhuber <ggegenhuber@sba-research.org> <gabriel.gegenhuber@gmail.com>
Gabriel K. Gegenhuber <ggegenhuber@sba-research.org>
Philipp É. Frenzel <pfrenzel@sba-research.org>
MobileAtlas Probe <mobileatlas@sba-research.org>
