# SPDX-FileCopyrightText: 2023 MobileAtlas <https://www.mobileatlas.eu/>
#
# SPDX-License-Identifier: CC0-1.0


# Forked PySim:
-e git+https://github.com/GGegenhuber/pysim.git@7100095f31105a5b5aa3c7ed32a005bc568ad5ec#egg=pysim
# python3 port of kmod
-e git+https://github.com/GGegenhuber/python-kmod.git@2fb18cee78d5ed70fa309646339b9db6a09d08ab#egg=kmod


pexpect
RPi.GPIO
psutil
PyGObject
python-benedict
jsonschema
python-json-logger
requests
urllib3
httpcore==0.13.6
httpx==0.19.0
beautifulsoup4
pycrypto
aioquic==0.9.20
wsproto
debugpy==1.3.0
jsonpickle
jsons
phonenumbers
pytz
gitpython
boto3
dnspython
pyudev
netifaces
