{% extends "base.html" %}

    {% block content %}
    <h2>Probe {{p.name}} - {{p.token.mac}}</h2>
    <table>
        <tr><th>ID</th><td class="center">{{p.id}}</td></tr>

        <tr><td colspan="2" style="border:none;"></td></tr>
        <tr><th>Name</th><td class="center">{{p.name}}</td></tr>
        <tr><th>Country</th><td class="center">{{format_country(p.country)}}</td></tr>
        <tr><th>MAC</th><td class="center">{{p.token.mac}}</td></tr>
        <tr><th>Last Service Startup</th><td class="center">{{p.startup_log[0].timestamp.strftime('%Y-%m-%d %H:%M:%S') if p.startup_log}}{%if p.startup_log %} <a href="/probe/{{p.id}}/startups">➕ {{p.startup_log|length}}</a>{%endif%}</td></tr>
        <tr><th>Last Poll</th><td class="center">{{p.last_poll.strftime('%Y-%m-%d %H:%M:%S') if p.last_poll}}</td></tr>
        <tr><th class="center">Polled last interval</th><td class="center">{{'✅' if p.is_polling() else ('❌' if p.token_last_access else '🚧')}}</td></tr>
        <tr><td colspan="2" style="border:none;"></td></tr>
        <tr>
          <th>Current Status</th>
          <td class="center">
            {%if p.status and p.status[0].active%}
              {{'🟢 online ' if p.status[0].status.name == "online" else '🟥 offline '}}
              {{p.status[0].duration()|format_timedelta}} <a href="/probe/{{p.id}}/status">➕ {{p.status|length}}
            {%else%}
              🚧 {{p.time_since_activation()}}
            {%endif%}
          </td>
        </tr>
        {% for st, p in percentages.items() %}
        <tr>
            <th>{%if st.name=="online"%}🟢 online{%elif st.name=="offline"%}🟥 offline{%endif%}</th>
            <td class="center">{{p|round(2)}}%</td>
        </tr>
        {% endfor %}

        <tr><td colspan="2" style="border:none;"></td></tr>
        <tr><th>Token</th><td class="center">{%if p.token.token %}{{p.token.token[:4]}}...{{p.token.token[-4:]}}{%else%}n/a{%endif%}</td></tr>
        {# <tr><th>Token Expiration</th><td class="center">{{p.token_expiration.strftime("%Y-%m-%d") if p.token_expiration}}</td></tr>
        <tr><th>Token Candidate</th><td class="center">{%if p.token.token_candidate%}{{p.token.token_candidate[:4]}}...{{p.token.token_candidate[-4:]}}{%endif%}</td></tr> #}
        <tr><th>Token Activated</th><td class="center">{{'✅' if p.is_activated() else  '❌'}}</td></tr>

        {% if p.system_info %}
        <tr><td colspan="2" style="border:none;"></td></tr>
        <tr><th>Latest SystemInformation</th><td class="center">{{p.system_info[0].timestamp.strftime('%Y-%m-%d %H:%M:%S')}}</td></tr>
        <tr><th>Total Updates</th><td class="center"><a href="/probe/{{p.id}}/systeminformations">➕ {{p.system_info|length}}</a></td></tr>
        <tr><th>Uptime</th><td class="center">{{p.system_info[0].uptime()}}</td></tr>
        <tr><th>Temp</th><td class="center">{{p.system_info[0].temperature()|round(2)}}°C</td></tr>
        <tr><th>HEAD Commit</th><td class="center">{{p.system_info[0].head()}}</td></tr>
        <tr><th>Network</th><td class="center">{%for a,b,c,d in p.system_info[0].network() if a in ['wg0','eth0']%}<b>{{a}}</b><br>{{b}}<br>RX: {{c|round(2)}}MB<br>TX: {{d|round(2)}}MB<br>{%endfor%}</td></tr>
        {% endif %}
    </table>
    {% endblock %}
