<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MobileAtlas - A Scalable Way to Measure Cellular Networks</title>
  <meta name="description" content="MobileAtlas Probe Status Page">
  <meta name="keywords"
    content="MobileAtlas, mobile broadband, mobile networks, cellular networks, measurement platform, measurement framework, zero-rating, net neutrality, network neutrality">
  <meta name="author" content="Gabriel Gegenhuber">

  <!-- Favicons -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->

  <!-- Google Fonts -->
  <!--<link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet"> -->
  <link href="assets/fonts/font.css" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Favicon Madness -->
  <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="assets/favicon/site.webmanifest">
  <link rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha - v3.0.3
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="index.html">MobileAtlas</a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="https://mobileatlas.eu/index.html" target="_blank">Public Website</a></li>
          <li><a href="#statuspage">Status Page</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>

    </div>
  </header>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1"
          data-aos="fade-up" data-aos-delay="200">
          <h1>A Scalable Way to Measure Cellular Networks</h1>
          <h2>Enabling Geographically Decoupled Measurements in Cellular Networks</h2>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img text-center" data-aos="zoom-in" data-aos-delay="200">
          <img src="assets/img/logo_white_300.png" class="img-fluid animated" alt="Logo MobileAtlas: shaped like a SIM card">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Status Page Section ======= -->
    <section id="statuspage" class="statuspage">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>Measurement Probe Status</h2>
        </div>
        <div class="col-lg-12">
          <p>This is a local info page displaying current status information (e.g., network status, measurement history) of your MobileAtlas measurement probe.
          </p>
        </div>

        <!-- ======= System Status ======= -->
        <div class="card">
          <div class="card-header">
            System
          </div>
          <div class="card-body">
            <h5 class="card-title">Uptime</h5>
            <p class="card-text">16 days, 21:52:21</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Temperature</h5>
            <p class="card-text">55.99°C</p>
          </div>
        </div>

        <br>

        <!-- ======= Network Card ======= -->
        <div class="card">
          <div class="card-header">
            Network
          </div>

          <div class="card-body">
            <h5 class="card-title">MAC Address</h5>
            <p class="card-text">FF:FF:FF:FF:FF</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Hostname</h5>
            <p class="card-text">mobileatlas-probe</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">IP Address</h5>
            <p class="card-text">255.255.255.255</p>
          </div>
          <div class="card-body">
            <h5 class="card-title">Network Usage</h5>
            <p class="card-text">1376.52MB (RX), 149.5MB (TX)</p>
          </div>
        </div>

        <br>
        
        <!-- ======= Activity Overview ======= -->
        <div class="card">
          <div class="card-header">
            Activity Overview
          </div>
          
          <div class="card-body">
            <h5 class="card-title">Total Measurement Counter</h5>
            <p class="card-text">123</p>
          </div>

          <div class="card-body">
            <h5 class="card-title">Recent Measurements</h5>
            <div class="card-text">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Type</th>
                    <th scope="col">Start</th>
                    <th scope="col">Stop</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>TestNetworkCheckIp</td>
                    <td>2022-10-27 12:54:43</td>
                    <td>2022-10-27 12:56:49</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>TestNetworkZeroWeb</td>
                    <td>2022-10-27 13:12:21</td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>TestNetworkBase</td>
                    <td>2022-10-27 13:14:01</td>
                    <td>2022-10-27 13:16:33</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>


      </div>
    </section><!-- End About Us Section -->


    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container aos-init" data-aos="fade-up">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Feel free to visit our <a href="https://mobileatlas.eu/index.html" target="_blank">public website</a> or contact us via <a href="mailto:mobileatlas@sba-research.org">email</a> if you have any questions.</p>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Template Copyright <strong><span>Arsha</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
        Homepage Template Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
