{% extends "base.html" %}

    {% block content %}
    <h2>Probes</h2>
    <table>
        <tr>
            <th class="hidden">ID</th>
            <th>Name</th>
            <th>MAC</th>
            <th>Country</th>
            <th>Last Service Startup</th>
            <th class="hidden">Last Poll</th>
            <th>Polled last interval</th>
            <th>Status</th>
            <th>Head</th>
        </tr>
        {% for p in probes %}
        <tr>
            <td class="hidden">{{p.id}}</td>
            <td>{{p.name if p.name}}</td>
            <td class="center"><a href="/probe/{{p.id}}">{{p.token.mac}}</a></td>
            <td class="center">{{format_country(p.country)}}</td>
            {# <td class="center">{{startups[p.id].timestamp.strftime('%Y-%m-%d %H:%M:%S') if startups[p.id] else "n/a"}}</td> #}
            <td class="center">{{p.startup_log[0].timestamp.strftime('%Y-%m-%d %H:%M:%S') if p.startup_log else "n/a"}}</td>
            <td class="hidden">{{p.last_poll.strftime('%Y-%m-%d %H:%M:%S') if p.last_poll}}</td>
            <td class="center">{{'✅' if p.is_polling() else ('❌' if p.last_poll else '🚧')}}</td>
            <td class="center">
              {%if p.status and p.status[0].active%}
                {{'🟢 online ' if p.status[0].status.name == "online" else '🟥 offline '}}
                {{p.status[0].duration()|format_timedelta}}
              {%else%}
                🚧 {{p.time_since_activation()}}
              {%endif%}
            </td>
            <td class="center">{%if p.system_info%}<span class="timestamp">{{p.system_info[0].timestamp}}</span>{%else%}n/a{%endif%}</td>
            <td class="center">
              <input class="token" type="hidden" value="{{p.token.token}}">
              <input class="confirm-text" type="hidden" value="{{p.token.scope.pretty(compact=True)}}">
              <button class="deactivate-token-btn">❌ Revoke</button>
            </td>
        </tr>
        {%endfor%}
    </table>

    <h2>Actions</h2>
    <div>
        Probe: <select id="probe-id">{% for p in probes %}<option value="{{p.id}}">{{p.name+' ' if p.name}}({{p.token.mac}})</option>{%endfor%}</select> :
        <button class="execute-probe" data-command="system_information">ℹ️ Update SysInfo</button>
        <button class="execute-probe" data-command="exit">⏹️ Kill Service</button>
        <button class="execute-probe" data-command="git_pull">⏩ Git pull</button> |
        <input id="change-probe-name-text" type="text"/><button id="change-probe-name">🆔 ChangeName</button>
        <input id="change-probe-country-text" type="text" autocomplete="country"/><button id="change-probe-country">Change Country</button>
    </div>
    {% endblock %}
