{% extends "base.html" %}

{% block content %}
    <details open>
    <summary><h2>WireguardConfig</h2></summary>
    <table>
        <tr>
            <th class="hidden">ID</th>
            <th>Token</th>
            <th>Publickey</th>
            <th>Timestamp</th>
            <th>Allow Registration</th>
            <th>Wireguard IP</th>
        </tr>
        {% for wg in wgs %}
        <tr>
            <td class="hidden">{{wg.id}}</td>
            <td>{{wg.token.token}}</td>
            <td>{{wg.publickey}}</td>
            <td>{{wg.register_time.strftime('%Y-%m-%d %H:%M:%S')}}</td>
            <td class="center">{{'✅' if wg.allow_registration else '❌'}}</td>
            <td>{{wg.ip}}</td>
        </tr>
        {%endfor%}
    </table>
    </details>

    <details open>
    <summary><h2>Active Wireguard Tokens</h2></summary>
    <table>
        <tr>
            <th class="hidden">ID</th>
            <th>Token</th>
            <th>MAC</th>
        </tr>
        {% for token in active_tokens %}
        <tr>
            <td class="hidden">{{token.id}}</td>
            <td>{{token.token}}</td>
            <td>{{token.mac}}</td>
            <td><button class="disallow-wireguard-token" value="{{token.token}}">❌</button></td>
        </tr>
        {%endfor%}
    </table>
    </details>

    <details open>
    <summary><h2>WireguardConfigAttempts</h2></summary>
    <table>
        <tr>
            <th class="hidden">ID</th>
            <th>Token</th>
            <th>MAC</th>
            <th>Publickey</th>
            <th>Timestamp</th>
            <th>IP</th>
            <th>Successful</th>
        </tr>
        {% for wga in wgas %}
        <tr>
            <td class="hidden">{{wga.id}}</td>
            <td>{{wga.token}}</td>
            <td>{{wga.mac}}</td>
            <td>{{wga.publickey}}</td>
            <td>{{wga.register_time.strftime('%Y-%m-%d %H:%M:%S')}}</td>
            <td>{{wga.ip}}</td>
            <td class="center">{{'✅' if wga.successful else '❌'}}</td>
        </tr>
        {%endfor%}
    </table>
    </details>

    <details open>
    <summary><h2>Wireguard Token Activation Requests</h2></summary>
    <table>
        <tr>
            <th class="hidden">ID</th>
            <th>Token</th>
            <th>MAC</th>
        </tr>
        {% for token in token_reqs %}
        <tr>
            <td class="hidden">{{token.id}}</td>
            <td>{{token.token_candidate}}</td>
            <td>{{token.mac}}</td>
            <td>
                <button class="allow-wireguard-token" value="{{token.token_candidate}}">✅</button>
            </td>
            <td>
                <button class="disallow-wireguard-token" value="{{token.token_candidate}}">❌</button>
            </td>
        </tr>
        {%endfor%}
    </table>
    </details>

    <h2>Actions</h2>
    <div>
        Token: <input id="allow-wireguard-token" type="text"/>
        IP: <input id="allow-wireguard-ip" type="text"/>
        <button id="allow-wireguard">Add and activate wg token</button>
        <!--<button id="disallow-wireguard">Disallow MAC for Wireguard</button>-->
    </div>

    <h2>Current Wireguard Configuration (wg showconfig wg0)</h2>
    <pre>{{config}}</pre>

    <h2>Wireguard Status (wg show wg0)</h2>
    <pre>{{status}}</pre>
{% endblock %}
