annotated-types==0.6.0
brotlicffi==1.1.0.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
idna==3.6
pycparser==2.21
pydantic==2.6.3
pydantic_core==2.16.3
requests==2.31.0
typing_extensions==4.10.0
urllib3==2.2.1
